.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.name{
    font:"Roboto";
    font-size:18px;
    font-weight:bold;
    color:black;
    margin-top:50px;
}

.value{
    font:"Roboto";
    font-size:16px;
    font-weight:400;
    color:black;
}

.header {
    color: #fff;
    background-color: #37474f;
    font-size: 20px;
    font: "Roboto";
    border-radius: 1px;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 30px 0;
    padding-right: 60px;
    margin-left:-37px;
    margin-top:-20px;
    width:108%;
}


.text{
    margin-left:30px;
}

.leftColumn {
margin-left: 60px;
float: left;
width: 200px;
}
#left {
    margin-left: 60px;
    float: left;
    width: 200px;
}

.rightColumn {
    float: right;
    margin-right: 60px;
    margin-left: 300px;
    width: 200px;
}
#rigth {
    float: right;
    margin-right: 60px;
    margin-left: 300px;
    width: 200px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

